[client]
socket="{{ mysql_socket_dir }}/mysql.socket"

[mysqld]
log-error=mysqld.err
datadir={{ mysql_SQLnode_datadir }}
tmpdir={{ mysql_SQLnode_tmpdir }}
basedir="/usr/local/mysql/"
port=3306
open_files_limit={{ mysql_openfile_limit }}
ndbcluster=on
ndb-nodeid={{ mySQL_ClusterNode_ID }}
ndb-connectstring={% for host in groups['mysql_cluster_mgm'] %}{{ hostvars[host].ansible_default_ipv4.address }}:1186{% if not loop.last %},{% endif %}{% endfor %}

default-storage-engine=NDB
socket="{{ mysql_socket_dir }}/mysql.socket"
max_connections=2048
{% if "'{{ inventory_file | basename }}' == 'dev-local'"%}
character-set-server=utf8
collation-server=utf8_general_ci
{% else %}
character-set-server=utf8mb4
collation-server=utf8mb4_general_ci
{% endif %}
